<%= form_for(@rol) do |f| %>
  <% if @rol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rol.errors.count, "error") %> prohibited this rol from being saved:</h2>

      <ul>
      <% @rol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombrerol %><br>
    <%= f.text_field :nombrerol %>
  </div>
  <div class="field">
    <%= f.label :descripcionrol %><br>
    <%= f.text_area :descripcionrol %>
  </div>
 <!-- <div class="form-group">
     <%= f.label :rol_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.select("id", Rol.all.collect{|r| [r.nombrerol, r.id]},{include_blank: 'Seleccione un rol...'},class: "form-control") %>
    </div>
</div>-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
